accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
apex @ file:///home/arnav/lora-fast/apex
async-timeout==4.0.3
attrs==23.2.0
bitsandbytes==0.43.1
blinker==1.4
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
command-not-found==0.3
contourpy==1.2.1
cryptography==3.4.8
cublas-ops @ git+https://github.com/aredden/torch-cublas-hgemm.git@97d2d4298410754d0e39b9ba94a47a21d1228da4
cycler==0.12.1
datasets==2.20.0
dbus-python==1.2.18
diffusers @ git+https://github.com/huggingface/diffusers@a7b9634e95fafe9aebdbf81763c9a0955fa3b77a
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.1
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.0
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
hqq==0.1.7.post3
httplib2==0.20.2
huggingface-hub==0.23.4
idna==3.7
importlib-metadata==4.6.4
install==1.3.5
jeepney==0.7.1
Jinja2==3.1.4
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
netifaces==0.11.0
networkx==3.3
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
nvtx==0.2.10
oauthlib==3.2.0
packaging==24.1
pandas==2.2.2
peft @ git+https://github.com/huggingface/peft@db8b76fdb500e10c0ee52cd30cefe55a608a52a6
pillow==10.3.0
platformdirs==4.2.2
protobuf==5.27.2
psutil==6.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==5.4.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
safetensors==0.4.3
SecretStorage==3.3.1
sentry-sdk==2.7.1
setproctitle==1.3.3
shtab==1.7.1
six==1.16.0
smmap==5.0.1
stable-fast @ git+https://github.com/chengzeyi/stable-fast.git@fffe290680ec2ddc01f511e8e7fc62357ed901d8
sympy==1.12.1
systemd-python==234
tabulate==0.9.0
termcolor==2.4.0
tokenizers==0.19.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.3
triton==2.3.1
trl==0.9.4
typing_extensions==4.12.2
tyro==0.8.5
tzdata==2024.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.2
wadllib==1.3.6
wandb==0.17.3
xformers==0.0.27
xxhash==3.4.1
yarl==1.9.4
zipp==1.0.0
